.uploadBox {
  grid-column: 1/13;
  padding: 40px;
}

.mapBox {
  width: 100vw;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routeName {
  text-align: center;
}

.humidityPlot {
  margin-top: 10%;
}
