.uploadBox {
  grid-column: 1/13;
  padding: 40px;
}

.mapBox {
  width: 100vw;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routeName {
  text-align: center;
  color: var(--primary-green);
}

.humidityPlot {
  color: var(--primary-green);
  margin-top: 10%;
}


.contentBox {
  width: 100vw;
  min-height: 100%;
  position: relative;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--secondary-grey) 30%
  );
}

.uploadBox {
  grid-column: 1/13;
  padding: 40px;
  position: relative;
  z-index: 2;
}