

.trackActions {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.contentBox {
  width: 100vw;
  min-height: 100%;
  position: relative;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--surface) 30%
  );
}



