



.contentBox {
  width: 100vw;
  min-height: 100%;
  position: relative;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--surface) 30%
  );
}


.downloadButton{
background-color: var(--primary);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
}

.downloadIcon{
  color: var(--surface);
  font-size: 20px;
}
