.upload{
  border-radius: 50px;
  text-align: center;
  background-color: var(--primary);
  cursor: pointer;
  color: var(--surface);
  padding-top: 10px;
  padding-bottom: 10px;
    position: relative;
  z-index: 2; 
}

.label{
  cursor: pointer;
}

.textLabel{
  font-size: 18px;
  margin-bottom: 8px;
}

