.upload{
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  background-color: #fafafa;
  cursor: pointer;
}

.label{
  cursor: pointer;
}

.textLabel{
  font-size: 18px;
  margin-bottom: 8px;
}