.header{
  height: var(--header-height);
  grid-row: 1/2;
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.headerIcon{
  font-size: 28px;
  cursor: pointer;
  color: var(--primary);
}