.header{
  grid-row: 1/2;
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.headerIcon{
  font-size: 25px;
  cursor: pointer;
}