.hourButton{
  flex-shrink: 0;
  width: 50px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  background-color: rgba(240, 245, 247, 0.5);
  border-radius: 20px;
}

.selected {
  background-color: #2564ebb9;
  color: white;
}