.main {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.inputBox {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: space-around;
  align-items: center;
}


.button {
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(0, 102, 255, 0.651);
  cursor: pointer;
}

.button:active {
  transform: translateY(3px);
}
