.buttonContainer{
  display: flex;
  align-items: center;
  overflow-x: scroll;
  gap: 8px;
  scroll-snap-type: x mandatory;
  width: 85%;
  height: 6%;
  border: solid 2px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  margin-top: 10px;
}

