.speedAndTime{
  width: 300px;
}


.mapBox {
  width: 100vw;
  margin-top: 30px;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routeName {
  text-align: center;
  color: var(--primary);
  margin-bottom: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.humidityPlot {
  color: var(--primary);
  margin-top: 10%;
}

.hourSetup{
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--surface);
}

.startAndSpeed{
  width: 85%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 12px;
}

.selectionBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--primary);
}


:global(.ant-picker-time-panel-column) {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

:global(.ant-picker-time-panel-column li) {
  touch-action: pan-y;
}

.mapHeader{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.invertButton{
  background-color: var(--primary);
  color: var(--surface) ;
  border-radius: 20px;
  border-color: var(--primary);
}

.nameBox{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3%;
  align-items: center;
  width: 80%;
}

.editNameButton {
  background-color: var(--primary);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  margin-top: 5px;
}

.icon{
  color: var(--surface);
  font-size: 20px;
}

.editName {
  display: flex;
  justify-content: space-between;
  width: 80%;
  
}

.editNameInput{
  width: 80%;
}

.validateName{
  background-color: var(--primary);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  margin-top: 5px;
}

.invertAndDownload{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}