.dragHandle {
  margin-right: 10px;
  opacity: 0.4;
  cursor: grab;
  color: var(--secondary);
}

.dragHandle:active {
  cursor: grabbing;
}

.itemIcon {
  margin-right: 10px;
  opacity: 0.6;
  color: var(--secondary);
}

.track {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: var(--primary) ;
  font-size: 1.0625rem;
}

.deleteIcon {
  font-size: 0.8em;
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
  touch-action: manipulation;
}

.trackName{
  color: var(--primary);
  text-decoration: none;
}
