.itemIcon {
  margin-right: 10px;
  opacity: 0.6;
  color: var(--secondary);
}

.trip {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: var(--primary) ;
  font-size: 17px;
}

.deleteIcon {
  font-size: 0.8em;
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
  touch-action: manipulation;
}

.tripName{
  color: var(--primary);
  text-decoration: none;
}
