.greet{
  grid-column: 1/13;
  grid-row: 2/3;
  text-align: center;
  color: var(--primary);
  font-size: 1.75rem;
  display: inline-block;
  justify-self: center;
}

.greet::after {
  content: "";
  display: block;

  width: 25%;
  height: 4px;

  margin: 1rem auto 0;

  background-color: var(--secondary);
  border-radius: 2px;
}

@media (max-width: 768px) {
  .greet {
    font-size: 1.25rem;
  }
}
