.greet{
  grid-column: 4/10;
  grid-row: 2/3;
  text-align: center;
  color: var(--primary-green);
  font-size: 28px;
}

.greet::after {
  content: "";
  display: block;

  width: 25%;
  height: 4px;

  margin: 16px auto 0;

  background-color: var(--secondary-green);
  border-radius: 2px;
}