#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.uploadBox {
  grid-column: 1/13;
  padding: 40px;
}

.mapBox {
  width: 100vw;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routeName {
  text-align: center;
}

.humidityPlot {
  margin-top: 10%;
}
